/* Author: vladimirSilnov silnov-90@mail.ru */
.wrapper {
  display: flex;
  justify-content: center;
}

#left_block {
  width: 25%;
  color: white;
}

#bmi_form  {
  border: solid red;
}

#header  {
  border: solid red;
  text-align: center;
}

#header p {

}

#submit {
  margin-left: 25%;
  margin-right: 25%;
}

#right_block {
  width: 25%;
  color: white;
}